
aero.emf
aero.png
campaign.fig
figures/cubesatmodels/simpleCOSMOSCUBE/untitled.png
figures/cubesatmodels/simpleCOSMOSCUBE/untitled2.png
sun.png
sun.emf
sun.bmp
TraubFig5.csv
zxyplane.csv
testfindbestangles.m
tests.m
zxplane.csv
figures/iss.png
figures/isscombined.3ds
iss.png
rotationtest.m
figures/issx.png
